main {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px ;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, minmax(auto, 280px));
  grid-template-rows: repeat(2, minmax(auto, 1fr));
  justify-content: space-evenly;
}
