.top_menu_container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: #fff;
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-columns: minmax(auto, 70%) minmax(auto, 30%);
    align-items: center;
    grid-auto-flow: column;
    letter-spacing: 1px;
}