@font-face {
    font-family: 'Proxima-regular';
    src: url('../fonts/proxima-nova-regular.ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Proxima-bold';
    src: url('../fonts/proxima-nova-bold.ttf');
    font-display: swap;
  }