.menu_type_pizza {
  display: grid;
  align-items: start;
  font-family: 'Proxima-regular', serif;
  font-weight: bold;

  ul {
    display: grid;
    grid-auto-flow: column;
  }
  li {
    background-color: #f9f9f9;
    border-radius: 30px;
    margin: 0 10px;
    height: 45px;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  li:hover {
    background-color: #F3F3F3;
  }
  .item_type_pizza.active {
    background-color: #282828;
    color: #fff;
  }
}
