.price {
    font-family: 'Proxima-bold', serif;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    h3 {
        font-size: 20px;
    }
    .buy_container {
        width: 155px;
        height: 40px;
        border: 1px solid #EB5A1E;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        letter-spacing: 0.5px;
        color: #EB5A1E;
    }
    p {
        font-size: 34px;
    }
    .count {
        color: #fff;
        background-color: #EB5A1E;
        padding: 2px;
        border-radius: 50%;
        width: 15px;
        text-align: center;
    }
}